@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#slides .overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
}

.arrow-right,
.arrow-left {
  position: absolute;
  z-index: 4;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.arrow-right {
  right: 2%;
}

.intro .main,
.sub {
  position: absolute;
  z-index: 3;
  color: #fff;
  text-align: center;
  height: 100%;
  width: 100%;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.main {
  top: 30%;
  font-size: 3rem;
  font-family: "Fredoka One", cursive;
}

.sub {
  top: 45%;
  font-size: 1.8rem;
}

.scroll {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.scroll .scroll-image{
  height: 60px;
}

/* Navbar */
nav.navbar {
  background-color: #e74c3c;
  padding: 0.6rem;
}

nav a {
  color: #fff;
}
nav a:hover {
  color: #fff;
}
nav.navbar .nav-link {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
