#slides .overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
}

.arrow-right,
.arrow-left {
  position: absolute;
  top: 50%;
  z-index: 4;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.arrow-right {
  right: 2%;
}
